# Auto detect text files and perform LF normalization
* text=auto

Content/3D/** filter=lfs diff=lfs merge=lfs -text
Content/Megascans/** filter=lfs diff=lfs merge=lfs -text
Content/VFX/** filter=lfs diff=lfs merge=lfs -text